svg {
    max-height: 100%;
    max-width: 100%;
}

image {
    width: 100%;
    height: 100%;
}

svg:hover > path {
    fill: var(--light-color);
    stroke: var(--light-color);
    stroke-width: 10px;
}