* {
    font-family: 'Lato', sans-serif;
}

:root {
    --light-color: #39796b;
    --main-color: #075849;
    --dark-color: #00251a;
}

#Title {
    font-family: 'Merriweather', serif;
    font-size: 35px;
    color: var(--dark-color);
}

body {
    background-color: white;
}