.summer {
    background-image: url(../assets/summer.png);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-repeat: repeat;
    background-position: center;
    background-size: 100vh;
    --light-color: #bef67a;
    --main-color: #8bc34a;
    --dark-color: #5a9216;
}

.fall {
    background-image: url(../assets/fall.png);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-repeat: repeat;
    background-position: center;
    background-size: 100vh;
    --light-color: #ffd149;
    --main-color: #ffa000;
    --dark-color: #c67100;
}

.winter {
    background-image: url(../assets/winter.png);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-repeat: repeat;
    background-position: center;
    background-size: 100vh;
    --light-color: #39796b;
    --main-color: #004d40;
    --dark-color: #00251a;
}

.spring {
    background-image: url(../assets/spring.png);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-repeat: repeat;
    background-position: center;
    background-size: 100vh;
    --light-color: #80e27e;
    --main-color: #4caf50;
    --dark-color: #087f23;
}

@media (min-width: 900px) {
    .summer {
        background-size: auto;
    }
    .fall {
        background-size: auto;
    }
    .winter {
        background-size: auto;
    }
    .spring {
        background-size: auto;
    }

}